
{% extends 'dash/base.html' %}
{% load static %}
	{% block content %}

    <div class="row">
        <div class="card-03">
            <h2>Rendelések (Új)</h2>
            <table id="customers">
                <thead>
              <tr class="pos-r">
                <th>Fizetés</th>
                <th>Ár</th>
                <th>Megrendelő</th>
                <th>Azonosító</th>
                <th>Dátum</th>
              </tr>
              </thead>
              <!-- for orders in order-->{% for order in orders %}
               {% if order.status == 'Új' %}
              <tr>
                
                <td><a href="{% url 'order-page' order.order_id %}" style="color: black;">{{order.payment_method}}</a></td>
                <td><a href="{% url 'order-page' order.order_id %}" style="color: black;">{{order.all_cost}}</a></td>
                <td><a href="{% url 'order-page' order.order_id %}" style="color: black;">{{order.name}}</a></td>
                <td><a href="{% url 'order-page' order.order_id %}" style="color: black;">{{order.order_id}}</a></td>
                <td><a href="{% url 'order-page' order.order_id %}" style="color: black;">{{order.created_at}}</a></td>
            </tr>
            {% endif %}
            {% empty %}
            <tr>
                <td></td>
                <td></td>
                <td>Nincsen több csomagolandó termék...</td>
                <td></td>
                <td></td>
              </tr>
              <!--endfor-->{% endfor %}			  
             
            </table>
        </div>
    </div>
    <div class="row">
        <div class="card-03">
            <h2>Rendelések (Megtekintve)</h2>
            <table id="customers">
                <thead>
              <tr class="pos-r">
                <th>Fizetés</th>
                <th>Ár</th>
                <th>Customer</th>
                <th>Azonosító</th>
                <th>Dátum</th>
              </tr>
              </thead>
              {% for order in orders %}
              {% if order.status == 'Megtekintve' %}
              <tr>
                
                <td><a href="{% url 'order-page' order.order_id %}" style="color: black;">{{order.payment_method}}</a></td>
                <td><a href="{% url 'order-page' order.order_id %}" style="color: black;">{{order.all_cost}}</a></td>
                <td><a href="{% url 'order-page' order.order_id %}" style="color: black;">{{order.name}}</a></td>
                <td><a href="{% url 'order-page' order.order_id %}" style="color: black;">{{order.order_id}}</a></td>
                <td><a href="{% url 'order-page' order.order_id %}" style="color: black;">{{order.created_at}}</a></td>
            </tr>
            {% endif %}
            {% empty %}
            <tr>
                <td></td>
                <td></td>
                <td>Nincsen több csomagolandó termék...</td>
                <td></td>
                <td></td>
              </tr>
              {% endfor %}	
                
              
             
            </table>
        </div>
        
    </div>
    <div class="row">
        <div class="card-03">
            <h2>Rendelések (Összekészítve)</h2>
            <table id="customers">
                <thead>
              <tr class="pos-r">
                <th>Fizetés</th>
                <th>Ár</th>
                <th>Customer</th>
                <th>Azonosító</th>
                <th>Dátum</th>
              </tr>
              </thead>
              {% for order in orders %}
              {% if order.status == 'Összekészítve' %}
              <tr>
                
                <td><a href="{% url 'order-page' order.order_id %}" style="color: black;">{{order.payment_method}}</a></td>
                <td><a href="{% url 'order-page' order.order_id %}" style="color: black;">{{order.all_cost}}</a></td>
                <td><a href="{% url 'order-page' order.order_id %}" style="color: black;">{{order.name}}</a></td>
                <td><a href="{% url 'order-page' order.order_id %}" style="color: black;">{{order.order_id}}</a></td>
                <td><a href="{% url 'order-page' order.order_id %}" style="color: black;">{{order.created_at}}</a></td>
            </tr>
            {% endif %}
            {% empty %}
            <tr>
                <td></td>
                <td></td>
                <td>Nincsen több csomagolandó termék...</td>
                <td></td>
                <td></td>
              </tr>
              {% endfor %}	
                
              
             
            </table>
        </div>
        
    </div>

    <div class="row">
        <div class="card-03">
            <h2>Rendelések (Becsomagolva)</h2>
            <table id="customers">
                <thead>
              <tr class="pos-r">
                <th>Fizetés</th>
                <th>Ár</th>
                <th>Customer</th>
                <th>Azonosító</th>
                <th>Dátum</th>
              </tr>
              </thead>
              {% for order in orders %}
              {% if order.status == 'Becsomagolva' %}
              <tr>
                
                <td><a href="{% url 'order-page' order.order_id %}" style="color: black;">{{order.payment_method}}</a></td>
                <td><a href="{% url 'order-page' order.order_id %}" style="color: black;">{{order.all_cost}}</a></td>
                <td><a href="{% url 'order-page' order.order_id %}" style="color: black;">{{order.name}}</a></td>
                <td><a href="{% url 'order-page' order.order_id %}" style="color: black;">{{order.order_id}}</a></td>
                <td><a href="{% url 'order-page' order.order_id %}" style="color: black;">{{order.created_at}}</a></td>
            </tr>
            {% endif %}
            {% empty %}
            <tr>
                <td></td>
                <td></td>
                <td>Nincsen több csomagolandó termék...</td>
                <td></td>
                <td></td>
              </tr>
              {% endfor %}	
                
              
             
            </table>
        </div>
        
    </div>

    <div class="row">
        <div class="card-03">
            <h2>Rendelések (Feladva)</h2>
            <table id="customers">
                <thead>
              <tr class="pos-r">
                <th>Fizetés</th>
                <th>Ár</th>
                <th>Customer</th>
                <th>Azonosító</th>
                <th>Dátum</th>
              </tr>
              </thead>
              {% for order in orders %}
              {% if order.status == 'Feladva' %}
              <tr>
                
                <td><a href="{% url 'order-page' order.order_id %}" style="color: black;">{{order.payment_method}}</a></td>
                <td><a href="{% url 'order-page' order.order_id %}" style="color: black;">{{order.all_cost}}</a></td>
                <td><a href="{% url 'order-page' order.order_id %}" style="color: black;">{{order.name}}</a></td>
                <td><a href="{% url 'order-page' order.order_id %}" style="color: black;">{{order.order_id}}</a></td>
                <td><a href="{% url 'order-page' order.order_id %}" style="color: black;">{{order.created_at}}</a></td>
            </tr>
            {% endif %}
            {% empty %}
            <tr>
                <td></td>
                <td></td>
                <td>Nincsen több csomagolandó termék...</td>
                <td></td>
                <td></td>
              </tr>
              {% endfor %}	
                
              
             
            </table>
        </div>
        
    </div>

    <div class="row">
        <div class="card-03">
            <h2>Rendelések (kiszállítva)</h2>
            <table id="customers">
                <thead>
              <tr class="pos-r">
                <th>Fizetés</th>
                <th>Ár</th>
                <th>Customer</th>
                <th>Azonosító</th>
                <th>Dátum</th>
              </tr>
              </thead>
              {% for order in orders %}
              {% if order.status == 'Kiszállítva' %}
              <tr>
                
                <td><a href="{% url 'order-page' order.order_id %}" style="color: black;">{{order.payment_method}}</a></td>
                <td><a href="{% url 'order-page' order.order_id %}" style="color: black;">{{order.all_cost}}</a></td>
                <td><a href="{% url 'order-page' order.order_id %}" style="color: black;">{{order.name}}</a></td>
                <td><a href="{% url 'order-page' order.order_id %}" style="color: black;">{{order.order_id}}</a></td>
                <td><a href="{% url 'order-page' order.order_id %}" style="color: black;">{{order.created_at}}</a></td>
            </tr>
            {% endif %}
            {% empty %}
            <tr>
                <td></td>
                <td></td>
                <td>Nincsen több csomagolandó termék...</td>
                <td></td>
                <td></td>
              </tr>
              {% endfor %}	
                
              
             
            </table>
        </div>
        
    </div>
{% endblock %}
