{% extends 'base.html' %}
{% load static %}
	{% block content %}


	<!-- search area -->
	<div class="search-area">
		<div class="container">
			<div class="row">
				<div class="col-lg-12">
					<span class="close-btn"><i class="fas fa-window-close"></i></span>
					<div class="search-bar">
						<div class="search-bar-tablecell">
							<h3>Search For:</h3>
							<input type="text" placeholder="Keywords">
							<button type="submit">Search <i class="fas fa-search"></i></button>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- end search arewa -->
	
	<!-- breadcrumb-section -->
	<div class="breadcrumb-section breadcrumb-bg"  style="background-image: url('/media/products/gg.jpg');">
		<div class="container">
			<div class="row">
				<div class="col-lg-8 offset-lg-2 text-center">
					<div class="breadcrumb-text">
						<p></p>
						<h1>{{title}}</h1>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- end breadcrumb section -->

	<!-- latest news -->
	<div class="latest-news mt-150 mb-150">
		<div class="container">
			<div class="row">
				{% for new in news %}
				<div class="col-lg-4 col-md-6">
					<div class="single-latest-news">
						<a href="{% url 'new' new.id %}"><div class="latest-news-bg news-bg-1" style="background-image: url({{new.image.url}});"></div></a>
						<div class="news-text-box">
							<h3><a href="{% url 'new' new.id %}">{{new.title}}</a></h3>
							<p class="blog-meta">
								<span class="author"><i class="fas fa-tags"></i> {{new.category}}</span>
								<span class="date"><i class="fas fa-calendar"></i> {{new.date}}</span>
							</p>
							<p class="excerpt">{{new.text|safe|truncatewords:20}}</p>
							<a href="{% url 'new' new.id %}" class="read-more-btn">Elolvasom <i class="fas fa-angle-right"></i></a>
						</div>
					</div>
				</div>
				{%endfor%}


			</div>

<!--		<div class="row">
				<div class="container">
					<div class="row">
						<div class="col-lg-12 text-center">
							<div class="pagination-wrap">
								<ul>
									<li><a href="#">Prev</a></li>
									<li><a href="#">1</a></li>
									<li><a class="active" href="#">2</a></li>
									<li><a href="#">3</a></li>
									<li><a href="#">Next</a></li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>

 end latest news -->
		</div>
	</div>
{% endblock %}