{% extends 'base.html' %}
{% load static %}
	{% block content %}


	<!-- search area -->
	<div class="search-area">
		<div class="container">
			<div class="row">
				<div class="col-lg-12">
					<span class="close-btn"><i class="fas fa-window-close"></i></span>
					<div class="search-bar">
						<div class="search-bar-tablecell">
							<h3>Search For:</h3>
							<input type="text" placeholder="Keywords">
							<button type="submit">Search <i class="fas fa-search"></i></button>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- end search arewa -->
	
	<!-- breadcrumb-section -->
	<div class="breadcrumb-section breadcrumb-bg" style="background-image: url({{new.image.url}});">
		<div class="container">
			<div class="row">
				<div class="col-lg-8 offset-lg-2 text-center">
					<div class="breadcrumb-text">
						<p>{{new.category|safe}}</p>
						<h1>{{new.title|safe}}</h1>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- end breadcrumb section -->
	
	<!-- single article section -->
	<div class="mt-150 mb-150">
		<div class="container">
			<div class="row">
				<div class="col-lg-8">
					<div class="single-article-section">
						<div class="single-article-text">
							<div class="single-artcile-bg" style="background-image: url({{new.image.url}});"></div>
							<p class="blog-meta">
								<span class="author"><i class="fas fa-user"></i> {{new.author|safe}}</span>
								<span class="date"><i class="fas fa-calendar"></i> {{new.date|safe}}</span>
								<span class="date"><i class="fas fa-tags"></i>{{new.category|safe}}</span>
							</p>
							<h2>{{new.title|safe}}</h2>
							{{new.text|safe}}
						</div>




					</div>
				</div>
				<div class="col-lg-4">
					<div class="sidebar-section">
						<div class="recent-posts">
							<h4>Korábbi írások</h4>
							<ul>
								{% for new in more %}
								<li><a href="{% url 'new' new.id %}">{{new.title|safe|truncatechars:40}}</a></li>
								{%endfor%}
							</ul>
						</div>


					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- end single article section -->

	{% endblock %}